CompileFlags:
  Add: [-Wno-unknown-attributes, -Wno-maybe-uninitialized, -Wno-unknown-warning-option, -x, c]
  Remove: [-W*, -mmcu=*, -mcpu=*, -mfpu=*, -mfloat-abi=*, -mno-unaligned-access, -mno-thumb-interwork, -mcall-prologues,-D__has_include*, -D__has_include_next*]
  Compiler: clang
Diagnostics:
  UnusedIncludes: Strict

If:
  PathMatch: [.*]
